@using Microsoft.AspNetCore.Builder
@using Microsoft.AspNetCore.Localization
@using Microsoft.Extensions.Options


@inject IOptions<RequestLocalizationOptions> locOptions
@inject IViewLocalizer localizer

@{
    ViewData["Title"] = "Home Page";

    var requestCulture = Context.Features.Get<IRequestCultureFeature>();

    List<SelectListItem> cultureItems = locOptions.Value.SupportedCultures.Select(s => new SelectListItem { Value = s.Name, Text = s.DisplayName }).ToList();
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <table>
        <tr>
            <td>@DateTime.Now.ToLongDateString()</td>
            <td>@(12345678.00.ToString("c"))</td>
            <td>@(123.45m.ToString("F2"))</td>
            <td></td>
            <td></td>
        </tr>
    </table>
    <hr />
    @requestCulture.RequestCulture.Culture.Name
    <form id="cultureForm" asp-action="Index">
        <select asp-items="cultureItems" onchange="SetCulture(this.value)"></select>
    </form>
    <hr />


    <br />

    <a asp-controller="Home" asp-action="Privacy">Outgoing URL</a> @*используя исходящую маршрутизацию Privacy не будет указано в html, он будет генерировать ссылку из атрибута (tag helper) *@

    <br />

    <a asp-action="Index"> Link</a>
    <br />
    <a asp-controller="Invoices">Link alt</a>
</div>

        <script>

            function SetCulture(selectCulture){
                var culture = "/?culture=" + selectCulture/* + "&uiculture" + selectedCulture*/;

                document.getElementById("cultureForm").action = culture;
                //$("#cultureForm").action = culture;
                $("#cultureForm").submit();
            }
        </script>